@import url('https://fonts.googleapis.com/css?family=Numans');

.ingreso{
    top:20px;
}
.ingreso a{
    margin:  5px;
}
.h1-header{
   font-family: 'Great Vibes', cursive;
    color: rgb(194, 107, 40);
    text-align: center;
   font-size: 70px;
   margin: 10px;
   margin-top: 20px;
}
.carousel img{
    height: 400px;
}
footer{
    background-color: 	rgb(53, 83, 83)/* 	rgb(79, 36, 20) *//* rgb(233, 168, 82) *//* rgb(117, 153, 127) */;
    
    color: white;
    /* position: relative; */
    /* top: 100px; */
  

  }
  footer a{
    text-decoration: none;  
    color:white ;
  
  }
 .form-group{
    font-size: 14px;
    
} 
.form-control{
    margin: 5px 0px;
}
.buscar{
    width: 350px;
}
h2{
    font-size: 20px;
    
}
/* Estilos login */



.log,.login{
background-image: url('../img/fondo_login2.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 600px;
}

/* .container{
height: 600px;
} */

.login .card{
height: 370px;
width: 400px;
background-color: rgb(29, 68, 68,0.5) ;
}
.card-header h3,.links{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color:rgb(116,148, 163);
color: black;
}

.login_btn{
color: black;
background-color:rgb(116,148, 163);
width: 150px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links a{
margin-left: 4px;
}
.h1-login{
    font-family: 'Great Vibes', cursive;
    color: white;
    text-align: center;
   font-size: 70px;
   margin: 10px;
   margin-top: 20px;
}
a{
    color: rgb(53, 83, 83);
}
.login a{
    color: #007bff;
}
.btn-light{
    background-color:  rgb(194, 107, 40) ;
    color: cornsilk;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}
.btn-light:hover{
    background-color: rgb(53, 83, 83);
    color: white;
}
